#bs-cookie-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 30px;
    box-shadow: 1px -5px 15px rgb(0 0 0 / 17%);
    background: #fff;
    width: 100%;
    box-sizing: border-box;
}

#bs-cookie-bar.bs-right,
#bs-cookie-bar.bs-left {
    width: 50%;
    max-width: 500px;
    min-width: 320px;
}

#bs-cookie-bar.bs-right {
    left: auto;
    right: 0;
}